<nav class="community">
    <ul>
        <li><a class="facebook" href="https://www.facebook.com/sonichub.net" target="_blank">Facebook <img src="/images/community_logo/facebook.svg" alt="Facebook Logo" class="logo"/></a></li>
        <li><a class="twitter" href="https://twitter.com/sonichub_net" target="_blank">Twitter <img src="/images/community_logo/twitter.svg" alt="Twitter Logo" class="logo"/></a></li>
        <li><a class="discord" href="https://discord.gg/ZbEKVwK9DV" target="_blank">Discord <img src="/images/community_logo/discord.svg" alt="Discord Logo" class="logo"/></a></li>
    </ul>
</nav>