@{
    var TAGS_SETTINGS = new Dictionary<string, Dictionary<string, string>>{
        {"Discord 活動", new Dictionary<string, string>{
            {"Order", "1"},
            {"Color", "hsl(310, 98.5%, 25.5%)"},
            {"Url", "activity"}
        }}};
}
<style>
    @foreach(var tag in TAGS_SETTINGS){
        <text>
        .@Html.Raw(tag.Key) {
            background-color: @tag.Value["Color"];
        }
        </text>
    }
</style>


<nav class="tags">
    <ul>
        <li>全部</li>
        @foreach(var tag in Document.GetList<string>("AllTags").OrderBy(tag => int.Parse(TAGS_SETTINGS[tag]["Order"]))){ 
            <li data-url="@TAGS_SETTINGS[tag]["Url"]">@tag</li> 
        }
    </ul>
</nav>